@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Welcome to the Hootch website. Here, we present you with a one stop shop for your homebrewing calculations and batch tracking.</p>
    <hr class="my-4">
    <p>Please create a user account to access these tools.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Identity/Account/Register" role="button">Register</a>
    </p>
</div>
